language: rust
rust:
  - 1.42.0
# hopefully prevent the cache from becoming huge - https://levans.fr/rust_travis_cache.html
cache:
  directories:
    - /home/travis/.cargo
before_cache:
  - rm -rf /home/travis/.cargo/registry
branches:
  only:
    - master
before_script:
  - rustup component add rustfmt-preview
  - cross --version || cargo install cross
matrix:
  include:
    # Linux
    - name: "Travis Default Environment"
      os: linux
      env:
        - TEST=1
    - name: "Alpine Linux x86_64"
      os: linux
      env:
        - TARGET=x86_64-unknown-linux-musl
        - TEST=0
    # OSX
    - name: "OSX x86_64"
      os: osx
      env:
        - TARGET=x86_64-apple-darwin
        - TEST=1
    # iOS
    - name: "iOS x64"
      os: "osx"
      env:
        - TARGET=aarch64-apple-ios
        - TEST=0
        - IOS=1
    - name: "iOS ARM7"
      os: "osx"
      env:
        - TARGET=armv7-apple-ios
        - IOS=1
    # Android
    - name: "Android x64"
      os: linux
      env:
        - TARGET=aarch64-linux-android
        - TEST=0
    - name: "Android ARM7"
      os: linux
      env:
        - TARGET=armv7-linux-androideabi
        - TEST=0
script:
  - ./.travis_scripts/cross-test.sh
after_success:
  - ./.travis_scripts/cmp-bench.sh
