language: rust
cache: cargo
rust:
  - 1.29.1
branches:
  only:
    - master
before_script:
  - rustup component add rustfmt-preview
script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo fmt -- --check
