[package]
name = "recrypt"
version = "0.3.0"
authors = ["IroncCore Labs <info at ironcorelabs.com>"]
readme = "README.md"
license = "AGPL-3.0-only"
repository = "https://github.com/IronCoreLabs/recrypt-rs"
documentation = "https://docs.rs/recrypt"
categories = ["cryptography", "algorithms"]
keywords = ["cryptography", "proxy-re-encryption", "PRE", "ECC", "transform-encryption"]
description = "A pure-Rust implementation of Transform Encryption, a Proxy Re-encryption scheme"

[dependencies]
rand = "~0.5"
sha2 = "0.7.1"
num-traits = "0.2"
lazy_static = "1.0.1"
arrayvec = "0.4.7"
ed25519-dalek = "~0.8"
curve25519-dalek = "0.20" #Can get rid of it as soon as https://github.com/dalek-cryptography/ed25519-dalek/issues/39 is resolved
clear_on_drop = "0.2"
gridiron = "0.2"

[profile.dev]
opt-level = 2 # Build deps with optimization, don't build ourselves with optimization
debug = true

[profile.test]
opt-level = 2 # Build deps with optimization, don't build ourselves with optimization
debug = true

[profile.release]
opt-level = 3 # Build deps with optimization, don't build ourselves with optimization
debug = false
lto = true

[dev-dependencies]
proptest = "0.8.3"
hex = "0.3.2"
criterion = "0.2"

[features]
unstable = []

[[bench]]
name = "api_benchmark"
harness = false

# disable libtest benches
# workaround for https://github.com/rust-lang/rust/issues/47241
[lib]
bench = false
