[package]
name = "recrypt"
version = "0.11.0"
authors = ["IronCore Labs <info@ironcorelabs.com>"]
readme = "README.md"
license = "AGPL-3.0-only"
repository = "https://github.com/IronCoreLabs/recrypt-rs"
documentation = "https://docs.rs/recrypt"
categories = ["cryptography", "algorithms"]
keywords = ["cryptography", "proxy-re-encryption", "PRE", "ECC", "transform-encryption"]
description = "A pure-Rust implementation of Transform Encryption, a Proxy Re-encryption scheme"
edition = "2018"

[dependencies]
#Explicit dependency so we can pass the wasm-bindgen flag to it
getrandom = {version = "~0.1.1", optional = true}
rand = "~0.7.3"
rand_chacha = "~0.2.2"
sha2 = "~0.8"
num-traits = "~0.2"
lazy_static = "~1.4"
arrayvec = "~0.4"
#Disable all features for ed25519 and enable the proper ones down in the [features] section below
ed25519-dalek = { version="=1.0.0-pre.3", default-features = false, features = ["std"] }
clear_on_drop = "~0.2"
#gridiron = "~0.7.0"
gridiron = { git= "https://github.com/tpmccallum/gridiron", branch = "optional_serde_feature", version = "~0.7.0", features = ["serde"], default-features = false }
quick-error = "~1.2"
hex="~0.3"
arrayref = "^0.3.5"
log = "~0.4"
derivative = "1.0.3"
serde-big-array = "~0.2.0"

[profile.dev]
opt-level = 2
debug = true

[profile.test]
opt-level = 2
debug = true

[profile.release]
opt-level = 3
debug = false
lto = true

[dev-dependencies]
proptest = "~0.9"
criterion = "~0.2"

[dependencies.serde_crate]
package = "serde"
optional = true
version = "~1.0.89"
default-features = false
features = ["std", "derive"]

[features]
unstable = []
default = ["ed25519-dalek/u64_backend"]
wasm = ["ed25519-dalek/u32_backend", "clear_on_drop/no_cc", "getrandom/wasm-bindgen"]

[[bench]]
name = "api_benchmark"
harness = false

# disable libtest benches
# workaround for https://github.com/rust-lang/rust/issues/47241
[lib]
bench = false
